.main-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__title{
        color: $chapter1-color;
        font-size: 64px;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 40px;
    }
    &__img{
        width: 937px;
        height: 657px;
        margin-bottom: 25px;
    }
    &__link{
        padding: 22px 117px 19px 118px;
        border-radius: 30px;
        background: $chapter1-color;
        color: #FFF;
        font-size: 24px;
        font-weight: 700;
        line-height: normal;
    }

}