body {
  color: #0A0A0A;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

input {
  background: rgba(10, 10, 10, 0);
  border: none;
}

input::-moz-placeholder {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.2px;
  opacity: 0.5;
}

input::placeholder {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.2px;
  opacity: 0.5;
}

.container {
  width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  background-color: #0A0A0A;
  color: #717171;
  margin-bottom: 71px;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  font-weight: 400;
  padding: 33px 0;
}

.menu__list {
  display: flex;
  gap: 30px;
}

.logo-box {
  fill: #717171;
}

.chapter1 {
  margin-bottom: 127px;
}

.headline-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.headline-box__image {
  width: 937px;
  height: 657px;
  flex-shrink: 0;
  margin-bottom: 25px;
}
.headline-box__link {
  color: #FFF;
  font-size: 24px;
  font-weight: 700;
  padding: 22px 117px 19px 118px;
  border-radius: 30px;
  background-color: #490E84;
}

.title {
  color: #717171;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 50px;
}

.chapter2 {
  margin-bottom: 150px;
}

.new-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.new-box__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 444px;
}
.new-box__information-box {
  width: 560px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.new-box__paragraph {
  color: #0A0A0A;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.2px;
  width: 559px;
}
.new-box__image {
  width: 350px;
}

.chapter3 {
  margin-bottom: 150px;
}

.color-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.color-box__inner {
  display: flex;
  align-items: center;
  gap: 80px;
}

.options-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.options-box__image {
  width: 240px;
  height: 320px;
  margin-bottom: 20px;
}
.options-box__title {
  color: #0A0A0A;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}
.options-box__text {
  color: #0A0A0A;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.2px;
}

.chapter4 {
  height: 600px;
}

.form-box {
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #574B63;
  width: 100%;
  height: 600px;
  gap: 30px;
}
.form__input {
  border-bottom: solid #F5F5F5 1px;
  width: 400px;
  padding-bottom: 10px;
}
.form__text {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.2px;
}
.form__link {
  color: #490E84;
  font-size: 24px;
  font-weight: 700;
  padding: 16px 81px;
  border-radius: 30px;
  background-color: #FFF;
}

.footer {
  background-color: #0A0A0A;
  color: #717171;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  font-weight: 400;
  padding: 33px 0;
}
.footer__link {
  color: #717171;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.2px;
}

.title_color_purple {
  color: #490E84;
  font-size: 64px;
  margin-bottom: 40px;
}

.new-box__paragraph_thick {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  width: 560px;
}

.title_color_wiht {
  color: #FFF;
  margin-bottom: 72px;
}