html, body {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, li, menu, p {
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
  border: none;
}

.container {
  width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  background-color: #0A0A0A;
  padding: 42px 0;
  margin-bottom: 71px;
}
.header__inner-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inner-box__navigation {
  display: flex;
  gap: 30px;
}
.inner-box__logo-box {
  fill: #717171;
  margin-right: 30px;
}
.inner-box__logo-box:hover {
  fill: #fff;
}
.inner-box__contact-link {
  color: #717171;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.inner-box__contact-link:hover {
  color: #fff;
}

.navigation__link {
  color: #717171;
  font-size: 24px;
  font-weight: 400;
}
.navigation__link:hover {
  color: #fff;
}

.main-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-bottom: 127px;
}
.main-box__title {
  color: #490E84;
  font-family: "Inter", sans-serif;
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 40px;
}
.main-box__image {
  width: 937px;
  height: 657px;
  padding-bottom: 25px;
}
.main-box__link {
  color: #fff;
  font-family: #fff;
  font-size: 24px;
  font-weight: 700;
  padding: 22px 117px 19px 118px;
  background-color: #490E84;
  border-radius: 30px;
}
.main-box__link:hover {
  padding: 22px 127px 19px 128px;
}

.news-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 150px;
}
.news-box__title {
  color: #717171;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 50px;
}
.news-box__info-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 191px;
}

.info-wrapper__text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.info-wrapper__image {
  width: 350px;
  height: 370px;
}

.text-box__text {
  color: #0A0A0A;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 130%;
  width: 559.068px;
}
.text-box__text:last-child {
  width: 560px;
}

.text__span {
  color: #0A0A0A;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 130%;
}

.color-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 150px;
}
.color-box__title {
  color: #717171;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 50px;
}
.color-box__color-version-wrapper {
  display: flex;
  align-items: center;
  gap: 80px;
  text-align: center;
}

.color-version-box__image {
  margin-bottom: 20px;
}
.color-version-box__title {
  color: #0A0A0A;
  font-family: #0A0A0A;
  font-size: 20px;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 10px;
}
.color-version-box__text {
  color: #0A0A0A;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 130%;
}

.form-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--deep-purple, #574B63);
  width: 1200px;
}
.form-box__image {
  width: 600px;
  height: 600px;
}

.form {
  margin: 0 auto;
  text-align: center;
  width: 413px;
}
.form__legent {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 72px;
}
.form__input-box {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.form__text {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 130%;
  opacity: 0.5;
  margin-bottom: 30px;
}
.form__btn {
  padding: 16px 81px;
  border-radius: 30px;
  background-color: #fff;
  color: #490E84;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 130%;
}

.input-box__label {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 130%;
  width: 400px;
}
.input-box__label__input {
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid #fff;
  width: 400px;
  margin-bottom: 30px;
  background-color: #574B63;
}
.input-box__label__input::-moz-placeholder {
  font-size: 14px;
  line-height: 18px;
  color: #f5f5f5;
  opacity: 0.5;
}
.input-box__label__input::placeholder {
  font-size: 14px;
  line-height: 18px;
  color: #f5f5f5;
  opacity: 0.5;
}

.footer {
  background-color: #0A0A0A;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}
.footer-inner__link {
  color: #717171;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 130%;
}
.footer-inner__logo-box {
  margin: 0;
}
.footer-inner__contact-link {
  color: #717171;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 400;
}